[Unit]
Description=hl2dm-stats

[Service]
ExecStart=/home/crumb/hl2dm-stats/api.js
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Environment=NODE_ENV=RCONPW=oicu812
WorkingDirectory=/home/crumb/hl2dm-stats

[Install]
WantedBy=multi-user.target