doctype html
html
  doctype html
  meta(charset='UTF-8')
  meta(http-equiv="Cache-control" content="public")
  meta(name="mobile-web-app-capable" content="yes")
  meta(name="application-name" content="Lo-g Hoedown")
  meta(name="theme-color" content="#b51d1d")
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="apple-mobile-web-app-status-bar-style" content="black")
  meta(name="apple-mobile-web-app-title" content="Lo-g Hoedown")
  meta(name="Description" content="Low gravity HL2DM game server")
  meta(name="viewport" content="width=device-width, initial-scale=1") 
  link(rel="apple-touch-icon" href="https://hl2dm.dough10.me/images/maskable_icon.png")
  link(rel="preload" href="https://hl2dm.dough10.me/fonts/halflife2.ttf" as="font" type="font/ttf" crossorigin)
  title #{title}
  link(rel='stylesheet', href='admin.css')
  body
    div#loader
    header
    div.header-shadow
    div.wrapper
      div#content
  body/
  script(src='admin.js')
html/