doctype html
html
  meta(charset='UTF-8')
  title #{title}
  link(rel='stylesheet', href='/admin.css')
  body
    div#loader
    header
    div.header-shadow
    div.wrapper
      div#content
  body/
  script(src='/admin.js')