:root {
  --header-height: 128px;
  --avatar-size: 165px;
  --main-color: #4c72b9;
  --theme-color: #395486;
  --background-color: rgb(179, 179, 179);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('../fonts/roboto-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
      url('../fonts/roboto-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/roboto-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/roboto-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
      url('../fonts/roboto-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/roboto-v15-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: "HL2";
  src: url("../fonts/halflife2.ttf");
  font-display: auto;
}
@font-face {
  font-family: "HL2Weapons";
  src: url("../fonts/hl2mp.ttf");
  font-display: auto;
}
@font-face {
  font-family: "CS";
  src: url("../fonts/csd.ttf");
  font-display: auto;
}
.HL2 {
  font-family: "HL2"
}
.HL2Weapons {
  font-family: "HL2Weapons";
  font-size: 34px;
  height: 18px;
}
.CS {
  font-family: "CS";
  font-size: 34px;
  height: 18px;
}
html {
  scroll-behavior: smooth;
}
body {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: var(--background-color);
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 13px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  user-select: none;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0;
  margin:0;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  background: var(--main-color);
  color: #333333;
  will-change: auto;
}
.header-shadow {
  height: 6px;
  box-shadow: inset 0px 5px 6px -3px rgba(0,0,0,0.4);
  position: absolute;
  will-change: auto;
  top: var(--header-height);
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 1;
}
.wrapper {
  position: fixed;
  will-change: auto;
  top: var(--header-height);
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  overflow-x: hidden;
  padding:8px;
  -webkit-overflow-scrolling: touch;
  text-align: center;
  background: var(--background-color);
}
.av-wrapper {
  display: flex;
  position: absolute;
  top: 0;
  padding: 10px;
}
.avatar {
  border-radius: 50%;
  height: var(--avatar-size);
  width: var(--avatar-size);
  display: flex;
  background-color: #ccc;
  background-image: url("../images/avatar.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--avatar-size);
  z-index: 2;
  border: 2px solid #fff;
  transform-origin: 50% 0%;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.4);
}
.fab {
  background: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  height: 56px;
  min-width: 0;
  outline: none;
  padding: 16px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 56px;
  -webkit-tap-highlight-color: transparent;
  box-shadow:0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.4);
  z-index: 2;
}
.fab:after {
  display: inline-block;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 50%;
  transition: opacity 150ms cubic-bezier(.33,.17,.85,1.1);
  box-shadow: 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(0,0,0,.4);
  content:' ';
  position: absolute;
  top: 0;
  left: 0;
}
.fab:hover:after {
  opacity: 1;
}
.fab:hover:active:after {
  opacity: 0;
}
.stat {
  cursor: pointer;
}
.stat:after {
  display: inline-block;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 150ms cubic-bezier(.33,.17,.85,1.1);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  content:' ';
  position: absolute;
  top: 0;
  left: 0;
}
.stat:hover:after {
  opacity: 1;
}
.stat:hover {
  z-index: 5;
}
.stat:hover:active:after {
  opacity: 0;
}
.link {
  max-width: 725px;
  margin: auto;
}
.card {
  max-width: 675px;
  min-width: 280px;
  padding: 20px;
  background: #fff;
  position: relative;
  margin: auto;
  border-radius: 3px;
  margin-bottom: 8px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
  text-align: center;
}
.nocard {
  max-width: 700px;
  min-width: 280px;
  padding: 10px;
  position: relative;
  margin: auto;
  margin-bottom: 8px;
  text-align: center;
}
.head-text {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 1.7em;
}
.hostname {
  margin-bottom: 16px;
  font-size: 20px;
}
.button {
  display: inline-flex;
  min-width: 5.14em;
  margin: 0.29em 0.29em;
  text-align: center;
  text-transform: uppercase;
  outline-width: 0;
  border-radius: 3px;
  padding: 0.7em 0.57em;
  cursor: pointer;
  position: relative;
  box-sizing:border-box;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
  -webkit-user-select: none;
  user-select: none;
  pointer-events: all;
  justify-content: center;
  align-items: center;
}
.button:after {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 150ms cubic-bezier(.33,.17,.85,1.1);
  box-shadow: 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(0,0,0,.4);
  content:' ';
  position: absolute;
  top: 0;
  left: 0;
}
.button:hover:after {
  opacity: 1;
}
.button:hover:active:after {
  opacity: 0;
}
.button[disabled] {
  background: rgba(84, 84, 84, 0.4);
  box-shadow: none;
  cursor: none;
  pointer-events: none;
}
.button[disabled]:active, .button[disabled]:hover, .button[disabled]:active:hover {
  box-shadow: none;
}
.button[noshadow], .button[noshadow]:hover, .button[noshadow]:hover:after, .button[noshadow]:after {
  box-shadow: none;
}
.button[noshadow]:active {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}
.player-name {
  text-align: left;
  font-size: 14pt;
  overflow: hidden;
}
.statinfo {
  font-size: 12px;
}
.spacer {
  margin-top: 16px;
  border-top: 1px solid #cccccc61;
  min-height: 16px;
}
#players {
  border-top: 1px solid #cccccc61;
}
.playeronline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 675px;
  padding: 16px;
  border-bottom: 1px solid #cccccc61;
}
.or0 {
  background-color: #ecdc8b;
}
.or1 {
  background-color: #beec8b;
}
.or2 {
  background-color: #ecb98b;
}
.or3 {
  background-color: #ec8b8f;
}
.or4 {
  background-color: #8becb6;
}
.or5 {
  background-color: #b58bec;
}
.or6 {
  background-color: #8b9bec;
}
.weapon-count {
  margin-top: 8px;
}
.player-weapons {
  margin-top: 24px;
  display: none;
  opacity: 0;
}
.lil-space {
  min-height: 35px;
}
.svg {
  width:24px;
  height:24px;
}
.eight-right {
  margin-right:8px;
}
.toast {
  background: #323232;
  padding: 16px;
  display: inline-block;
  font-size: 14px;
  text-align: left;
  position: absolute;
  border-radius: 3px;
  bottom: 8px;
  left: 8px;
  color: #fff;
  z-index: 10;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  min-width: 200px;
  cursor: pointer;
}
.animate-height {
  will-change: auto;
  transition: height 100ms cubic-bezier(.33,.17,.85,1.1) 0s;
}
.foot {
  min-height: 2000px;
}
.server-stats {
  margin-bottom: 16px;
  font-weight: bold;
}
.bio-text {
  line-height: 1.4em;
}
.tooltip {
  position: relative;
}
.tooltiptext {
  opacity: 0;
  background: #323232;
  color: #fff;
  text-align: center;
  font-size: 12px;
  border-radius: 3px;
  padding: 16px 8px;
  position: absolute;
  z-index: 2;
  transition: all 100ms cubic-bezier(.33,.17,.85,1.1);
  min-width: 123px;
  max-width: 123px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  pointer-events: none;
  transform: scale3d(0, 0 ,0);
  transform-origin: 0 0;
}
.tt-container div:not(:first-child) {
  margin: 4px auto;
}
.tt-container {
  position: relative;
}
.tt-header {
  color: yellow;
  font-size: 17px;
  margin-bottom: 8px;
}
.tooltip:hover .tooltiptext {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
.tooltip:hover + .card {
  z-index: -1;
}
.alert {
  background: #323232;
  padding: 16px;
  display: inline-block;
  font-size: 14px;
  text-align: left;
  position: absolute;
  border-radius: 3px;
  top: 8px;
  color: #fff;
  z-index: 4;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12), 0 5px 5px -3px rgba(0,0,0,.4);
  min-width: 200px;
  cursor: pointer;
  margin: 0 2em;
}
.yellow-text {
  margin-left: 30px;
  color: yellow;
}
.select {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  position: relative;
  width: 150px;
}
.select-text {
  position: relative;
  font-family: inherit;
  background-color: transparent;
  width: 150px;
  padding: 10px 10px 10px 0;
  font-size: 15px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.12);
}
.select-text:focus {
  outline: none;
  border-bottom: 1px solid rgba(0,0,0, 0);
}
.select .select-text {
  appearance: none;
  -webkit-appearance:none;
  cursor: pointer;
}
.select:after {
  position: absolute;
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.12);
  pointer-events: none;
}
.select-label {
  color: rgba(0,0,0, 0.26);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 10px;
  transition: 0.2s ease all;
}
.select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
  color: var(--main-color);
  top: -20px;
  transition: 0.2s ease all;
  font-size: 14px;
}
.select-bar {
  position: relative;
  display: block;
  width: 150px;
}
.select-bar:before, .select-bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--main-color);
  transition: 0.2s ease all;
}
.select-bar:before {
  left: 50%;
}
.select-bar:after {
  right: 50%;
}
.select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
  width: 50%;
}
.select-highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
.pContainer {
  margin-top: 24px;
}
a {
  color: #000000;
  text-decoration: none;
  display: block;
}
#blog {
  margin-top: 24px;
}
#load {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(255, 255, 255);
  justify-content: center;
  display: flex;
  align-items: center;
  z-index:3;
  pointer-events: all;
  overflow: hidden;
  background-image: url("../images/logo.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 240px;
  font-size: 2em;
  z-index: 8;
}
#stuff-below {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 8px;
  pointer-events: none;
}
#stuff-below svg {
  opacity: 1;
  animation: fade 1.5s infinite;
}
#contentLoader {
    background: var(--background-color);
}
#dl-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 675px;
  margin: 16px auto;
  opacity: 0;
}
.paper-ripple {
  color: #737373;
}
@keyframes fade {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}
@media only screen and (max-width: 500px) {
  .button:active:after {
    opacity: 1;
  }
  .button:focus:after {
    opacity: 1;
  }
  .tooltip:hover .tooltiptext {
    opacity: 0;
  }
  .tooltip:active .tooltiptext {
    opacity: 0;
  }
  .tooltip:focus .tooltiptext {
    opacity: 0;
  }
  .tooltip:hover:active .tooltiptext {
    opacity: 0;
  }
}